<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>게시글 등록</title>
</head>
<body>
<h1>게시글 등록</h1>

<form th:action="@{/board/create}" th:object="${board}" method="post">
    제목:
    <input type="text" th:field="*{title}"><br>
    <div th:if="${#fields.hasErrors('title')}" style="color: red;">
        <p th:errors="*{title}"></p>
    </div>

    내용:
    <textarea th:field="*{content}"></textarea><br>
    <div th:if="${#fields.hasErrors('content')}" style="color: red;">
        <p th:errors="*{content}"></p>
    </div>

    작성자:
    <input type="text" th:field="*{writer}"><br>
    <div th:if="${#fields.hasErrors('writer')}" style="color: red;">
        <p th:errors="*{writer}"></p>
    </div>

    <button type="submit">등록</button>
</form>

</body>
</html>
