<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>게시글 수정</title>
</head>
<body>
<h1>게시글 수정</h1>

<form th:action="@{'/board/' + ${boardId} + '/edit'}"
      th:object="${board}"
      method="post">

    제목:
    <input type="text" th:field="*{title}"><br>
    <div th:if="${#fields.hasErrors('title')}" style="color: red;">
        <p th:errors="*{title}"></p>
    </div>

    내용:
    <textarea th:field="*{content}"></textarea><br>
    <div th:if="${#fields.hasErrors('content')}" style="color: red;">
        <p th:errors="*{content}"></p>
    </div>

    <button type="submit">수정 완료</button>
</form>

<a th:href="@{/board}">목록으로</a>
</body>
</html>
