<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- 정답 -->
    <link rel="stylesheet" href="/style.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 수정</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>회원 수정</h1>
<form th:action="@{/user/{id}/edit(id=${user.id})}" method="post" th:object="${user}">
    <label for="username">이름</label>
    <input type="text" id="username" th:field="*{username}" required>

    <label for="email">이메일</label>
    <input type="text" id="email" th:field="*{email}" required>

    <label for="password">비밀번호</label>
    <input type="text" id="password" th:field="*{password}" required>

    <button type="submit">수정</button>
</form>
</body>
</html>